{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo app</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'javascripts/todo.js' %}" defer></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
      <nav>
        <img src="{% static 'assets/To-Do-Logo.png' %}" alt="" />
      </nav>
    </header>
    <!-- {% block content %}
   
    {% endblock content %} -->
    <div class="add_todo">
      <form action="" method="post">
        {% csrf_token %} {{ task.as_p }}
        <button
          hx-post="{% url 'add_tasks' %}"
          hx-target="#lists"
          type="submit"
          class="btn"
        >
          ADD
        </button>
      </form>
    </div>
    
    <div class="todo-lists" id="lists">
        {% include 'to-do/components/tasks_list.html' %}
    </div>
     
    <!-- Htmx script -->
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
