{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'javascripts/todo.js' %}" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <img src="{% static 'assets/To-Do-Logo.png' %}" alt="" />
      </nav>
    </header>
    <div class="add_todo">
      <form action="" method="post">
        {% csrf_token %} {{ task.as_p }}
        <button type="submit">ADD</button>
      </form>
    </div>
    <div class="todo-lists">
      <ul>
        {% for task in tasks %}
        <li class="task">
          <div class="task_flex">
            <div>
              <div class="buttons right">
                <img
                  class="unchecked"
                  src="{% static 'assets/Radio-button-unchecked.png' %}"
                  alt=""
                />
                <img
                  class="checked none"
                  src="{% static 'assets/Check-circle-outline.svg' %}"
                  alt=""
                />
              </div>
              <div class="obj">{{task}}</div>
            </div>
            <img
              class="delete"
              src="{% static 'assets/Delete-outline.svg' %}"
              alt=""
            />
          </div>
        </li>
        {% endfor %} {% for comp in complete %}
        <li class="task">
          <div class="task_flex">
            <div>
              <div class="buttons right">
                <img
                  class="unchecked none"
                  src="{% static 'assets/Radio-button-unchecked.png' %}"
                  alt=""
                />
                <img
                  class="checked"
                  src="{% static 'assets/Check-circle-outline.svg' %}"
                  alt=""
                />
              </div>
              <div class="obj strikeThrough">{{comp}}</div>
            </div>
            <img
              class="delete"
              src="{% static 'assets/Delete-outline.svg' %}"
              alt=""
            />
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="clear">
        <img src="{% static 'assets/Vector.svg' %}" alt="" />
        <p>Clear Completed</p>
      </div>
    </div>
  </body>
</html>
